<% provide(:title, "About Me") %>
			<h2>Anas Djebbari - 2852680</h2>

			<h3>Prgramming Skills</h3>
			<ul>
				<li><b>Php:</b> Great</li>
				<li><b>Java:</b> Good</li>
				<li><b>Python:</b> Good</li>
				<li><b>C++:</b> Beginer</li>
				<li><b>Rails:</b> Beginer</li>
			</ul>

			<h3>Contact information</h3>
			<ul>
				<li><b>Phone:</b> 083461123</li>
				<li><b>Work:</b> 087356232</li>
				<li><b>House:</b> 01 2345455</li>
				<li><b>Email:</b> anasdjebbari@gmail.com</li>
			</ul>

			<h3>Subject undertaking</h3>
			<ul>
				<li><b>BSCH-ANT</b> Advanced Network Theory </li>
				<li><b>BSCH-CPG</b> Concurrent Programming </li>
				<li><b>BSCH-WF</b> Web Frameworks </li>
				<li><b>BSCH-DS</b> Distributed Systems </li>
				<li><b>BSCH-MBD</b> Managing Big Data</li>
				<li><b>BSCH-CSP</b> Cloud Services & Platforms </li>
				<li><b>BSCH-ET</b> Emerging Technologies </li>
			</ul>

			<h3>My Hobbies</h3>
			<ul>
				<li>Running</li>
				<li>Reading</li>
				<li>Travel</li>
				<li>Try new things</li>

			</ul>

	<h4>My most visited websites</h4>
	<ul>
	<li><a href="https://www.codeschool.com/?searchsegment=ppcbrand&aid=701j0000002BMf7AAG&promo=&oid=&utm_source=google&utm_medium=paidsearch&utm_campaign=CS_Brand-google&utm_content=&utm_term=&gclid=CK3l54qo4dICFeeV7QodG9MA_w">CodeSchool</a></li>
	<li><a href="http://moodle.gcd.ie/moodle/" title="Griffith College Moodle Page">Moodle</a></li>
	<li><a href="http://www.w3schools.com/html/html5_intro.asp" title="w3schools">HTML5</a></li>
	<li><a href="http://makeawish.ie/" title="Make-A-Wish">Make-A-Wish Foundation</a></li>
	<li><a href="https://www.google.ie/?gws_rd=cr&ei=cG9hUpOUF6y07Qa8xoDgCw" title="Google">Search Engine</a></li>
	</ul>
